{% extends 'layouts/base.html' %}
{% load  static %}
{% block title %}EVO магазин / Профиль{% endblock %}
{% block content %}
    <div class="row">
        <div class="message">
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 mb-5">
            {% include 'includes/profile/sidebar.html' %}
        </div>
        <div class="col-md-3 mb-5 profile">
            <h3>Профиль</h3>
            <div class="avatar mb-5">
                {% if profile.avatar %}
                    <img src="{{ profile.avatar.url }}" alt="">
                {% else %}
                    <img src="{% static 'img/no_avatar.png' %}" alt="No avatar">
                {% endif %}
            </div>
        </div>
        <div class="col-md-5 content">
            <h3>&nbsp;</h3>
            <form id="profileForm" action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div>{{ form.non_field_errors }}</div>
                {% for field in form %}
                    <div class="form-floating mb-3">
                        {{ field }}
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    </div>
                    <div>{{ field.errors }}</div>
                {% endfor %}
                <button type="submit" class="btn btn-primary">Обновить</button>
            </form>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#profileForm').submit(function () { // отслеживаем событие отправки формы
                var form = $("#profileForm");
                var formData = new FormData(form[0]);
                $.ajax({ // создаем AJAX-вызов
                    data: formData,//$(this).serialize(), // получаем данные формы
                    contentType: false,
                    processData: false,
                    type: $(this).attr('method'), // GET или POST
                    url: "{% url 'profile' profile.slug %}",
                    success: function (response) { // если успешно, то
                        if (response.status == 'ok') {
                            $('.avatar').load(document.URL + ' img');
                            //$('.alert').remove();
                            $('.message').after('<div class="alert alert-success" role="alert">Профиль обновлён</div>');
                            $('html, body').animate({scrollTop: $("body").offset().top}, 0);
                        }
                    },
                    error: function (response) { // если ошибка, то
                        console.log(response.responseJSON.errors) // предупредим об ошибке
                        //$('.alert').remove();
                        $('.message').after('<div class="alert alert-danger" role="alert">Ошибка</div>');
                        $('html, body').animate({scrollTop: $("body").offset().top}, 0);
                    }
                });
                return false;
            });
        })
    </script>
{% endblock %}